


@font-face {
  font-family: 'Futura Futuris';
  src: url('../fonts/FuturaFuturisLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Futuris';
  src: url('../fonts/FuturaFuturisC.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}



@font-face {
  font-family: 'Futura Futuris';
  src: url('../fonts/FuturaFuturisC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Futuris';
  src: url('../fonts/FuturaFuturisCondExtraBoldC.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Futuris';
  src: url('../fonts/FuturaFuturisBlackC.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

