$primary-color: rgb(255, 255, 255);

$secondary-color: rgb(150, 154, 247);

$secondary-color_v2: rgb(245, 243, 255);
$secondary-color_v3: rgb(192, 192, 192);
$secondary-color_v4: rgb(42, 51, 108);
$secondary-color_v5: rgb(81, 114, 196);
$secondary-color_v6: rgb(227, 227, 227);

$btn-color: rgba(255, 165, 0, 1);


$gray_2: rgb(98, 99, 102);

$accent-color: #e74c3c; 
$text-color: #333333; 

$background-color: rgb(242, 242, 244);

$border-color: #dddddd;


$blue-gradient: linear-gradient(to right, rgba(150, 154, 247, .3), rgba(150, 154, 247, 0));


$violet-gradient: linear-gradient(to right, rgba(106, 50, 180, 1), rgba(85, 38, 147, 1));


$card-gradient:linear-gradient(135.81deg, rgb(4, 16, 128) -1.633%,rgb(9, 38, 192) 95.286%),rgb(150, 154, 247);