@use './variables';
@use './mediaMixins';


.container-cards-job {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include mediaMixins.max_1400 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }

  @include mediaMixins.max_1024 {
    grid-template-columns: 1fr;
  }
}

.card-job {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  width: 434px;
  min-height: 288px;
  padding-top: 44px;
  padding-left: 100px;
  padding-bottom: 40px;


  @include mediaMixins.max_1400 {
    background: variables.$card-gradient no-repeat;
    overflow: hidden;
  }

  @include mediaMixins.max_1024 {
    width: 100%;
    max-width: 444px;
    padding-right: 20px;
  }

  @include mediaMixins.max_480 {
    padding-top: 80px;
    padding-left: 30px;
  }


  &::before {
    content: attr(data-number);
    position: absolute;
    top: 39px;
    left: 38px;
    font-size: 36px;
    font-weight: 700;
    color: rgb(150, 154, 247);

    @include mediaMixins.max_480 {
      top: 26px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 30px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -2;
    width: 103%;
    height: 104%;
  }

  &__img-card-decor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include mediaMixins.max_1400 {
      bottom: -10%;
      right: -10%;
    }
  }

  &__title {
    min-height: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: variables.$primary-color;

    @include mediaMixins.max_480 {
      min-height: auto;
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  &__paragraph {
    font-size: 18px;
    color: rgb(227, 227, 227);
    line-height: 1.38;
    font-weight: 300;
    max-width: 290px;

    @include mediaMixins.max_1024 {
      max-width: 100%;
    }
  }
}

[data-number="01"] {
  @include mediaMixins.max_1400 {
    order: 1;
  }

  &::after {
    background-image: url('../img/card_job1.png');

    @include mediaMixins.max_1400 {
      background-image: none;
    }
  }
}

[data-number="02"] {
  @include mediaMixins.max_1400 {
    order: 2;
  }

  .card-job__title {
    max-width: 233px;
  }

  &::after {
    background-image: url('../img/card_job2.png');

    @include mediaMixins.max_1400 {
      background-image: none;
    }
  }
}

[data-number="03"] {
  @include mediaMixins.max_1400 {
    order: 3;
  }

  &::after {
    background-image: url('../img/card_job3.png');

    @include mediaMixins.max_1400 {
      background-image: none;
    }
  }
}

[data-number="04"] {
  @include mediaMixins.max_1400 {
    order: 4;
  }

  &::after {
    background-image: url('../img/card_job4.png');
    left: -28px;

    @include mediaMixins.max_1400 {
      background-image: none;
    }
  }
}

[data-number="05"] {
  @include mediaMixins.max_1400 {
    order: 5;
  }

  .card-job__img-card-decor {
    left: -28px;

  }

  &::after {
    background-image: url('../img/card_job5.png');
    left: -28px;

    @include mediaMixins.max_1400 {
      background-image: none;
    }
  }
}

[data-number="06"] {
  @include mediaMixins.max_1400 {
    order: 6;
  }

  &::after {
    background-image: url('../img/card_job6.png');

    @include mediaMixins.max_1400 {
      background-image: none;
    }
  }
}