<ul class="accordion">
  {{#each data.accordion}}
  <li class="accordion__item">
    <input id="{{id}}" type="checkbox" class="accordion__input"></input>
    <label  for="{{id}}" class="accordion__header">
      <div class="accordion__title">{{title}}</div>
      <div class="accordion__btn">
        <img src="./assets/img/accordion_btn.svg" alt="кнопка аккордеона">
      </div>
    </label>
    <div  class="accordion__content">
      {{#each text}}
      <p>{{this}}</p>
      {{/each}}
    </div>
  </li>
  {{/each}}
</ul>