
<ul class="container-cards-job">
  <li data-number="01" class="card-job">
    <div class="card-job__img-card-decor">
      <picture>
        <source srcset="./assets/img/decor1.webp" type="image/webp">
        <img src="./assets/img/decor1.png" alt="картинка карточки">
      </picture>
    </div>
    <div class="card-job__title">ВЫ ОСТАВЛЯЕТЕ ЗАЯВКУ</div>
    <div class="card-job__paragraph">Отправить запрос вы можете любым удобным для вас способом: например, через
      форму
      на сайте. Также вы можете связаться с нами напрямую.
    </div>
  </li>
  <li data-number="02" class="card-job">

    <div class="card-job__img-card-decor">
      <picture>
        <source srcset="./assets/img/decor2.webp" type="image/webp">
        <img src="./assets/img/decor2.png" alt="картинка карточки">
      </picture>

    </div>
    <div class="card-job__title">МЫ ПРОВЕРЯЕМ НАЛИЧИЕ ПОЗИЦИЙ</div>
    <div class="card-job__paragraph">Проверяем наличие на складе, а также актуальность производства (возможна
      замена,
      если необходимо.) Если требуется замена - подбираем аналоги и привозим на заказ.</div>
  </li>
  <li data-number="03" class="card-job">

    <div class="card-job__img-card-decor">
      <picture>
        <source srcset="./assets/img/decor3.webp" type="image/webp">
        <img src="./assets/img/decor3.png" alt="картинка карточки">
      </picture>

    </div>
    <div class="card-job__title">ФОРМИРУЕМ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</div>
    <div class="card-job__paragraph">На данном этапе мы с вами согласуем ценовое предложение, обговариваем сроки
      поставки и условия оплаты.</div>
  </li>
  <li data-number="06" class="card-job">
    <div class="card-job__img-card-decor">
      <picture>
        <source srcset="./assets/img/decor6.webp" type="image/webp">
        <img src="./assets/img/decor6.png" alt="картинка карточки">
      </picture>
    </div>
    <div class="card-job__title">ВЫ ПОЛУЧАЕТЕ ТОВАР</div>
    <div class="card-job__paragraph">
      Поставляем вам товар в надлежащей упаковке в сопровождении оригиналов всех необходимых документов либо вы
      забираете его самовывозом.</div>
  </li>
  <li data-number="05" class="card-job">

    <div class="card-job__img-card-decor">
      <picture>
        <source srcset="./assets/img/decor5.webp" type="image/webp">
        <img src="./assets/img/decor5.png" alt="картинка карточки">
      </picture>

    </div>
    <div class="card-job__title">МЫ ВЫПОЛНЯЕМ ЗАКАЗ</div>
    <div class="card-job__paragraph">Товар поступает на склад в Москву или Санкт-Петербург, где мы сверяем
      правильность поставки и начинаем сборку.</div>
  </li>
  <li data-number="04" class="card-job">
    <div class="card-job__img-card-decor">
      <picture>
        <source srcset="./assets/img/decor6.webp" type="image/webp">
        <img src="./assets/img/decor6.png" alt="картинка карточки">
      </picture>

    </div>
    <div class="card-job__title">ПРОВОДИМ ОПЛАТУ</div>
    <div class="card-job__paragraph">
      Далее, после получения авансового платежа, мы размещаем заказ.</div>
  </li>
</ul>