
<div class="container-form">
  <div class="container-form__header">
    <h2 class="container-form__title">закажите обратный звонок</h2>
  </div>
  <form class="container-form__form" action="/" method="POST">
   
    <div class="container-form__wrapper-width container-form__wrapper-width--mb--16">
      <label class="container-form__label" for="name">Ваше имя *</label>
      <input class="container-form__input" placeholder="Петров Петр" name="name" id="name" type="text" required>
    </div>
    <div class="container-form__wrapper-width container-form__wrapper-width--mb--34">
      <label class="container-form__label" for="phone">Ваш номер *</label>
      <input class="container-form__input" placeholder="+7(___)___-__-__" name="number" id="phone" type="text" required>
    </div>

    <div class="container-form__wrapper-width container-form__wrapper-width--mb--17">
      <a href="/" class="container-form__btn main-btn" type="submit">заказать звонок</a>
    </div>
  </form>
  <div class="container-form__wrapper-width">
    <p class="container-form__privacy">Мы гарантируем конфиденциальность данных</p>
  </div>
 </div>