<div class="hero-info">
  <div class="hero-info__header">
    <h1 class="hero-info__title">Оптовые поставки</h1>
    <p class="hero-info__paragraph-title">электронных компонентов <span class="hero-info__paragraph-title--big">из Китая
        день в день</span></p>
  </div>
  <p class="hero-info__paragraph">Комплексные поставки электронных компонентов и оборудования. Подберем аналоги
    популярных брендов из Европы в условиях санкций.</p>
  <ul class="hero-info__list">
    <li class="hero-info__list-item">Отсрочка платежей для постоянных клиентов</li>
    <li class="hero-info__list-item">Бесплатная доставка по Москве и СПБ в течение 2х часов</li>
    <li class="hero-info__list-item">Квалифицированный персональный менеджер</li>
  </ul>
</div>